* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  overflow: hidden;
}

/* Navbar */

nav {
  display: flex;
  background-color: pink;
  justify-content: space-around;
  height: 80px;
  color: rgb(177, 81, 97);
  align-items: center;
}

nav .logo h4 {
  font-family: Satisfy, cursive;
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li {
  margin: auto;
}

nav ul li a {
  color: rgb(177, 81, 97);
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: white;
}

/* hamburger menu */
.hm-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.hm-toggle input {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.hm-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: rgb(177, 81, 97);
  border-radius: 10px;
  transition: 0.5s;
}

/* hamburger menu animation */
.hm-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.hm-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.hm-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -2px);
}

.hm-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(0px, 1px);
}

.hm-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
}
/* responsive tablet*/
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* responsive mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0%;
    top: 5%;
    padding-top: 5%;
    width: 50%;
    height: 50vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    z-index: -1;
    transform: translateX(100%);
    transition: 0.5s;
    border-radius: 15px;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  .hm-toggle {
    display: flex;
  }
}
